body
{
   margin: 0;
   padding: 0;
    background-position: fixed;
    
    background-image: url('./img/clear.jpg');
}
.err{
    color: red;
}

#subBtn
{
    background-color: black;
    color:white;
    text-align: center;
    font-weight: 700;
}

.display
{
    margin-top: 0px;
}
.inpHead
{
    color: white;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    font-size:25px;
}

.container-fluid
{
   
   
    color:white;
    border-radius: 2px;
    padding: 20px;
   padding-top: 35px;
}
.display label{
    font-size: 30px;
}

.display h1{
    display: inline-block;
    font-size: 50px;
    color: white;
}

.inputBox
{
    font-size: 20px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

.form-check
{
    display: inline-block;
}

.cityName
{
    font-size: 22px;
}


#imageWeather
{
    
    margin-top: -40px;
   
  
}

#weatherDesc
{
    margin-top: -5px;
}

#tempData
{
    margin-top: -15%;
}

#forecast .row{
    font-size: 30px;
}
#forecast{
    
   color:black;
   font-weight: 700;
   text-align: center;
   margin-top: -20px;
}
#forecastable h4{
    font-size: x-large;
}
#forecastable{
    overflow: hidden;
}

#sunRiseSet{
    background-color:white;
    display:block table-row;
    padding: 0px;
    border-radius: 10px;
    visibility: hidden;
    margin-top: -10px;
  
}
#sun{
margin-top: -5px;
text-align: center;
vertical-align:middle;
color: black;
font-size: 23px;
font-weight: 600;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px;
}

#sunTodayHead{
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icons
{
 color:black;
 position:relative;
 display:inline-flexbox;
 vertical-align:middle;

 }